<splash-screen></splash-screen>
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
      <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()"> 
      <mat-icon>close</mat-icon>
      </button> 
  </mat-toolbar>
  <mat-nav-list>
      <a routerLink="/productos"
         mat-list-item
         (click)="sidenav.toggle()"> 
         <mat-icon color="primary" matListIcon>directions_bus</mat-icon>
         <span>Camiones</span>
      </a>
     
      <a routerLink="./sucursales"
          mat-list-item
          (click)="sidenav.toggle()"> 
          <mat-icon color="primary" matListIcon>near_me</mat-icon>
          <span>Sucursales</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
      <button  mat-icon-button
              (click)="sidenav.toggle()"> 
      <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      
      <img src="../assets/images/logo.png">
      
      <span class="spacer"></span>
      <button routerLink=""  
              mat-icon-button> 
              <mat-icon>home</mat-icon>

      </button>
 </mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
 
</div>

</mat-sidenav-container>
<a href="https://api.whatsapp.com/send?l=es&phone=541167550598&text=Hola!%20te%20contacto%20desde%20la%20web%20de%20Aurelia">
  <img class="whatsapp" src="./assets/images/whatsapp.svg">
  </a>